# SBG Systems - IMU
SUBSYSTEMS=="usb", ATTRS{product}=="USB-RS232 Cable", ATTRS{serial}=="AU06AR38", SYMLINK+="sbg", GROUP="dialout", MODE="0660"

# Ardusimple - GNSS
SUBSYSTEMS=="usb", ATTRS{product}=="u-blox GNSS receiver", SYMLINK+="ardusimple", GROUP="dialout", MODE="0660"

# Arduino Mega 2560 R3
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0042", ATTRS{serial}=="0353637333235141A012", SYMLINK+="arduino_mega", GROUP="dialout", MODE="0660"

# Arduino UNO WiFi R4
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="1002", ATTRS{serial}=="B43A453382C0", SYMLINK+="arduino_uno", GROUP="dialout", MODE="0660"

# Ping2 - Echosounder
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", ATTRS{serial}=="DP05HK4F", SYMLINK+="ping2", GROUP="dialout", MODE="0660"

# Acoustic Modem
SUBSYSTEM=="tty", ATTRS{idProduct}=="6001", ATTRS{idVendor}=="0403", ATTRS{serial}=="A5XK3RJT", SYMLINK+="modem", GROUP="dialout", MODE="0666"

# Ping360 - Scanning Sonar
SUBSYSTEM=="tty", ATTRS{serial}=="DK0GXSZA", SYMLINK+="ping360", GROUP="dialout", MODE="0660"

# Arduino Portenta
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="025b", ATTRS{serial}=="Arduino", SYMLINK+="portenta", MODE="0666"

# Logitech C270 HD Webcam
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0825", ATTRS{serial}=="D6784950", ATTR{index}=="0", SYMLINK+="bottomcam"

# Lenovo FHD Webcam
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="17ef", ATTRS{idProduct}=="4831", ATTRS{serial}=="SN0001", ATTR{index}=="0", SYMLINK+="frontcam"